<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="../styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="../styles/header.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

  </head>
  <body>

    <nav>
      <div class="logout-header">
        <a href="/" id="logo">
          <span id="page-title">Res</span>In
        </a>
      </div>
    </nav>

    <div class="logout-title">
      <h1>NOW YOU ARE LOGOUT</h1>
    </div>
    <div class="social-media-conatainer">
      <div class="social-title">Follow us now</div>
      <ul>
        <li><i class="fab fa-twitter-square"></i></li>
        <li><i class="fab fa-facebook-square"></i></li>
        <li><i class="fab fa-instagram-square"></i></li>
      </ul>
    </div>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript" src="/scripts/components/helper.js"></script>
    <script type="text/javascript" src="/scripts/components/resourcelist.js"></script>
    <script type="text/javascript" src="/scripts/components/searchform.js"></script>
    <script type="text/javascript" src="/scripts/components/newresource.js"></script>
  </body>
</html>
