@import 'resets.scss';
@import 'variables.scss';

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #c188aa;
  background-color: #c188aa;
  padding: 20px 25px;
  margin-bottom: 30px;

 #logo {
  font-size: 42px;
  font-family: Arial;
  text-decoration: none;
  color: #fff;
  font-weight: bolder;

    #page-title {
      color: #55394a;
    }
  }

  .search-form {
    width: 35%;

    form {
      border: 1px solid #4a4a4a;
      display: flex;
      justify-content: space-between;
      height: 50px;
      border-radius: 8px;
      background-color: #fff;

      input {
        border: none;
        padding: 7px 10px;
        font-family: Arial, FontAwesome;
        width: 100%;
        font-size: 23px;
        background: none;

        &:focus {
          outline: none;
        }
      }

    &:focus {
      border: none;
    }

    button {
      text-transform: uppercase;
      color: #fff;
      background-color: #4a4a4a;
      padding: 8px 20px;
      border: none;
      outline: none;
      font-size: 23px;
      line-height: 23px;

        &:hover {
          background-color: #8b607a;
        }
      }
    }
  }

  .logged-in-menu {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 18px;

      li {
      padding: 0 10px;
      font-weight: 600;
      text-transform: uppercase;

        a {
        color: #fff;
        text-decoration: none;

          &:hover {
            color: #7d566e;
          }
        }

        .user-name a {
        color: #7d566e;
        text-decoration: none;
        }
      }

      form{
        button {
        text-transform: uppercase;
        color: #fff;
        font-size: 18px;
        background-color: #4a4a4a;
        padding: 8px 8px;
        border: 0;
        font-weight: 400;
        outline: none;
        border-radius: 5px;
        cursor: pointer;

          &:hover {
          background-color: #ffffff;
          color: #4a4a4a;
          }
        }
      }
    }
  }
}

// START logout page nav
.logout-header {
  border-bottom: 3px solid #c188aa;
  background-color: #c188aa;
  padding: 20px 25px;
  margin-bottom: 30px;
  margin: auto;
}

.logout-title {
  margin-top: 43px;
}

.social-media-conatainer {
  text-align: center;
  max-width: 500px;
  margin: auto;
  background-color: pink;
  color: #fff;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;

  .social-title {
    margin: 0px 50px 40px;
    font-size: 35px;
  }

  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 80px;
  }
}
// END logout page nav

@media only screen and (max-width: 1400px) {
  nav {
    padding: 13px 25px;
    form {
      height: 40px!important;
    }
    .logged-in-menu ul {
      font-size: 18px;
    }
  }
}
/*# sourceMappingURL=header.css.map */
