/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

h1 {
  position: relative;
  text-align: center;
  font-size: 25px;
}

section {
  margin: 20px 20px 0px 100px;
}

article {
  margin: 15px 10px;
  word-break: keep-all;
  width: 30%;
  height: 600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  border: solid #a5a5a5;
  border-width: thin;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: auto;
}

article .img-url {
  width: 100%;
  height: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article .fa-heart {
  position: relative;
  float: right;
  margin-left: 5px;
}

article .fa-comments {
  position: relative;
  float: right;
  margin-left: 7px;
  color: #7c3d78;
}

article .resource-title {
  height: 70px;
  width: 80%;
  font-weight: bold;
  font-size: 17px;
  padding-bottom: 15px;
}

article .new-url {
  display: none;
}

article .resource-desc {
  line-height: 22px;
  height: 80px;
  margin-bottom: 20px;
  overflow: auto;
}

article .resource-rating {
  display: -ms-inline-grid;
  display: inline-grid;
  bottom: 0;
  word-break: break-all;
  float: left;
  padding-top: 10px;
  border-spacing: 2px;
  color: #7c3d78;
  font-weight: bold;
}

article .resource-footer {
  display: -ms-inline-grid;
  display: inline-grid;
  padding-top: 15px;
}

article:hover {
  -webkit-box-shadow: 0 8px 12px 0 #333333;
          box-shadow: 0 8px 12px 0 #333333;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article {
  margin: 15px 10px;
  word-break: keep-all;
  width: 30%;
  height: 600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  border: solid #a5a5a5;
  border-width: thin;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: auto;
}

article .img-container {
  height: 40%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

article .img-container a {
  position: relative;
}

article .img-container a:hover .img-overlay {
  visibility: visible;
  opacity: 0.8;
}

article .img-container a .img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  color: #fff;
  visibility: hidden;
}

article .img-container a .img-overlay .overlayText {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

article .img-url {
  height: 100%;
  display: block;
  margin: auto;
}

article .fa-heart {
  position: relative;
  float: right;
  margin-left: 5px;
}

article .fa-comments {
  position: relative;
  float: right;
  margin-left: 7px;
  color: #7c3d78;
  font-size: 32px;
}

article .resource-title {
  height: 70px;
  width: 80%;
  font-weight: bold;
  font-size: 17px;
  padding-bottom: 15px;
}

article .resource-title a {
  color: #4a4a4a;
  font-size: 25px;
  line-height: 30px;
}

article .resource-title a:hover {
  color: #c188aa;
}

article .new-url {
  display: none;
}

article .resource-desc {
  line-height: 22px;
  height: 100px;
  margin-bottom: 20px;
  overflow: auto;
}

article .resource-rating {
  display: -ms-inline-grid;
  display: inline-grid;
  bottom: 0;
  word-break: break-all;
  float: left;
  padding-top: 10px;
  border-spacing: 2px;
  color: #7c3d78;
  font-weight: bold;
}

article .resource-footer {
  display: -ms-inline-grid;
  display: inline-grid;
  padding-top: 15px;
}

article:hover {
  -webkit-box-shadow: 0 8px 12px 0 #333333;
          box-shadow: 0 8px 12px 0 #333333;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #c188aa;
  background-color: #c188aa;
  padding: 20px 25px;
  margin-bottom: 30px;
}

nav #logo {
  font-size: 42px;
  font-family: Arial;
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
}

nav #logo #page-title {
  color: #55394a;
}

nav .search-form {
  width: 35%;
}

nav .search-form form {
  border: 1px solid #4a4a4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  border-radius: 8px;
  background-color: #fff;
}

nav .search-form form input {
  border: none;
  padding: 7px 10px;
  font-family: Arial, FontAwesome;
  width: 100%;
  font-size: 23px;
  background: none;
}

nav .search-form form input:focus {
  outline: none;
}

nav .search-form form:focus {
  border: none;
}

nav .search-form form button {
  text-transform: uppercase;
  color: #fff;
  background-color: #4a4a4a;
  padding: 8px 20px;
  border: none;
  outline: none;
  font-size: 23px;
}

nav .search-form form button:hover {
  background-color: #8b607a;
}

nav .logged-in-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

nav .logged-in-menu ul li {
  padding: 0 10px;
  font-weight: 600;
  text-transform: uppercase;
}

nav .logged-in-menu ul li a {
  color: #fff;
  text-decoration: none;
}

nav .logged-in-menu ul li a:hover {
  color: #7d566e;
}

nav .logged-in-menu ul .user-name a {
  color: #7d566e;
  text-decoration: none;
}

nav .logged-in-menu ul form button {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  background-color: #4a4a4a;
  padding: 8px 8px;
  border: 0;
  font-weight: 400;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

nav .logged-in-menu ul button:hover {
  background-color: #ffffff;
  color: #4a4a4a;
}

.logout-header {
  border-bottom: 3px solid #c188aa;
  background-color: #c188aa;
  padding: 20px 25px;
  margin-bottom: 30px;
  margin: auto;
}

.logout-title {
  margin-top: 43px;
}

.social-media-conatainer {
  text-align: center;
  max-width: 500px;
  margin: auto;
  background-color: pink;
  color: #fff;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
}

.social-media-conatainer .social-title {
  margin: 0px 50px 40px;
  font-size: 35px;
}

.social-media-conatainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 80px;
}

@media only screen and (max-width: 1400px) {
  nav {
    padding: 13px 25px;
  }
  nav form {
    height: 40px !important;
  }
  nav form .logged-in-menu ul {
    font-size: 18px;
  }
  article {
    height: 700px;
  }
  article .img-container {
    height: 25%;
  }
  article .resource-title a {
    font-size: 18px;
    line-height: 23px;
  }
  article .resource-desc {
    height: 140px;
  }
}
/*# sourceMappingURL=header.css.map */
