@import 'resets.scss';
@import 'variables.scss';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid $primary-color;
  padding: 15px;
  margin-bottom: 30px;

  #logo {
    font-size: 25px;
    font-family: Arial;
    text-decoration: none;
    color: #8a8a8a;
    font-weight: bolder;

    #page-title {
      color: #55394a;
    }
  }

  .search-form {
    width: 35%;

    form  {
      border: 1px solid $text-color;
      display: flex;
      justify-content: space-between;

      input {
        border: none;
        padding: 7px 10px;
        font-family:Arial, FontAwesome;
        width: 100%;
      }

      input:focus {
        outline: none;
      }

      &:focus {
        border: none;
      }

      button{
        text-transform: uppercase;
        color: #fff;
        background-color: $text-color;
        padding: 8px 10px;
        border: none;
        outline: none;
      }
      button:hover {
        background-color: #8b607a;
      }
    }
  }

  .logged-in-menu {

    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 15px;

      li {
        padding: 0 10px;
        font-weight: map-get($font-weights, medium);
        text-transform: uppercase;

        a {
          color: $text-color;
          text-decoration: none;

          &:hover {
            color: $secondary-color;
          }
        }
      }

      .user-name {

        a {
          color: $secondary-color;
          text-decoration: none;
        }
      }

      form button {
        text-transform: uppercase;
        color: #fff;
        font-size: 13px;
        background-color: $text-color;
        padding: 8px 10px;
        border: 0;
        font-weight: 400;
        outline: none;
      }

      button:hover {
        background-color: #8b607a;
      }
    }
  }
}
