// See: https://sass-lang.com/
@import 'resets.scss';
@import 'variables.scss';


body {

  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  color: $text-color;

  h1 {
    color: $text-color;
  }

}
.starrr a {
  display: inline;
  color: rgb(243, 179, 16);;
  text-decoration: none;
  font-size: 20px;
  padding: 0 1px;
  cursor: pointer;
}


.category-container {
  display: flex;
  justify-content: flex-end;

  form {

    .categorySelect {
      border-radius: 10px;
      border: 2px solid $primary-color;
      background: #fff;
      height: 35px;
    }
  }
}

.new-category{
  background-color: $primary-color;
  padding: 5px;
  line-height: 20px;
  color: #fff;
  display: block;
  margin: 10px;
  width: 25%;
  border-radius: 15px;
  text-align: center;
}

.fa {
  font-size: 25px;
  cursor: pointer;
  user-select: none;
  color: #dedede;
}

.fa-heart:hover {
  color: #ffc0cb;
}
