// See: https://sass-lang.com/
@import 'resets.scss';
@import 'variables.scss';


body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  color: $text-color;

  h1 {
    color: $text-color;
  }
}
